# 서버 ~/app/.env 에 값 채워서 사용 (커밋 금지)
MYSQL_ROOT_PASSWORD=
DB_NAME=gyejol_danji
DB_PORT=3306
DB_USERNAME=sagye
DB_PASSWORD=
DB_URL=jdbc:mysql://localhost:3306/gyejol_danji?serverTimezone=UTC&characterEncoding=UTF-8

GOOGLE_SHEETS_ENABLED=false
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_RANGE=contents!A2:R
GOOGLE_SHEETS_SYNC_CRON=0 */5 * * * *
GOOGLE_SHEETS_SYNC_ZONE=Asia/Seoul
GOOGLE_SHEETS_PROCESSING_TIMEOUT_MINUTES=10
GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_SERVICE_ACCOUNT_JSON_PATH=
